@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
  font-family: VT323, monospace;
}

nav a {
  color: #9ffcff;
  text-decoration: none;
}

nav a:hover {
  text-shadow: 0 0 8px #9ffcff;
}

body {
  margin: 0;
  background: url("ngonight.jpg") center / cover fixed;
  color: #f2f2f2;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: linear-gradient(
    rgba(10, 5, 20, 0.75),
    rgba(10, 5, 20, 0.85)
  );
  z-index: -1;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.windows {
  background: rgba(255, 255, 255, 0.08);
  border: 2px solid #f3b6ff;
  box-shadow: 0 0 15px rgba(243, 182, 255, 0.4);
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 6px;
}

h1, h2 {
   color: #ffb7e9;
  text-shadow: 0 0 8px rgba(255, 183, 233, 0.8);
}

a {
  color: #ff9fd6;
}

a:hover {
  color: #ffffff;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
}

figure img {
    width: 100%;
    max-width: 480px;
    border-radius: 16px;
    box-shadow: 
        0 0 20px rgba(255, 183, 233, 0.5),
        0 0 40px rgba(159, 252, 255, 0.2);
}

figcaption {
  margin-top: 8px;
  color: #9ffcff;
  font-size: 1.2rem;
  text-shadow: 0 0 8px #9ffcff;
}


.ascii-art {
  font-size: 10px;
  color: #cfaaff;
  overflow-x: auto;
}

footer {
  text-align: center;
  color: #aaa;
  font-size: 14px;
}

.glitch {
  font-family: 'VT323', monospace;
  font-size: .8rem;
  color: #ffe6ff;
  text-align: center;
  position: relative;
  animation: glitch .5s infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 2px 0 #ff5ec4, -2px 0 #00fff9;
  }
  25% {
    text-shadow: -2px -1px #ff5ec4, 2px 1px #00fff9;
  }
  50% {
    text-shadow: 2px 1px #ff5ec4, -1px -1px #00fff9;
  }
  75% {
    text-shadow: -1px 0 #ff5ec4, 1px 0 #00fff9;
  }
  100% {
    text-shadow: 2px 0 #ff5ec4, -2px 0 #00fff9;
  }
}